* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.header-top {
    width: 25vw;
    height: 100vh;
    background-image: url(/img/fon.jpg);
    background-repeat: no-repeat;
    padding: 30px 15px;
    display: inline-block;
    position: fixed;
}
.header-top-nav {
    display: flex;
    justify-content: space-between;
    color: rgb(97, 13, 13);
}
.fa, .fas {
    font-size: 26px;
}
.header-top-center {
    margin-top: 250px;
    text-align: center;
    color: rgb(97, 13, 13);
    text-transform: uppercase;
}
.header-top-center > img {
    width: 30px;
}
.header-top-bottom {
    text-align: center;
    color: rgb(97, 13, 13);
    margin-top: 100px;
    font-size: 28px;
    text-align: center;
}
@media screen and (max-width: 1020px) {
    .header-top-bottom {
        font-size: 20px;
    }
}
.header-bottom {
    width: 75vw;
    display: inline-block;
    float: right;
    padding: 10px 30px;
    border-bottom: 1px solid rgb(177, 175, 175);
    position: fixed;
    left: 25vw;
}
.menu > ul {
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 1020px) {
    .menu > ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .menu > ul > li {
        width: 25%;
        text-align: center;
    }
    .menu > ul > li > a {
        line-height: 26px;
    }
}
.menu > ul > li {
    padding: 0 5px;
    color: black;
}
.menu > ul > li > a {
    font-size: 16px;
    color: black;
    text-transform: uppercase;
}
@media screen and (max-width: 1020px) {
    .menu > ul > li > a {
        font-size: 14px;
    }
}
.block {
    width: 75vw;
    float: right;
    margin-top: 100px;
}
.block-item {
    padding: 0 40px 0 90px;
}
.block-item > h1 {
    font-size: 48px;
}
.block-item-info {
    display: flex;
    justify-content: flex-start;
}
.block-item-info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-right: 30px;
    text-transform: uppercase;
}
.block-item-info-title > h2 {
    margin-left: 5px;
}
.block-item > p {
    font-size: 28px;
}
.block-item-bottom {
    display: flex;
    justify-content: space-around;
}
.block-item-bottom > p {
    font-size: 24px;
    margin-right: 10px;
}
.block-item-bottom > p {
    font-size: 24px;
    margin-right: 10px;
}
@media screen and (max-width: 1200px) {
    .block-item-bottom > p {
        font-size: 20px;
    }
}
@media screen and (max-width: 1020px) {
    .block-item-bottom > p {
        font-size: 16px;
    }
}
.block-item-bottom > img {
    width: 400px;
}
@media screen and (max-width: 1200px) {
    .block-item-bottom > img {
        width: 300px;
    }
}
